@import "abstracts/variables", "core/reset", "core/typography",
  "abstracts/mixins", "components/header", "components/form",
  "components/container";

.result__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
