.container {
  font-size: 13px;
  padding: 1.9375rem 6.4%;
  background-color: #f2f2f2;
  min-height: 100vh;
}
.container.dark {
  background-color: $dm-clr-Black;
}
@media (min-width: 768px) {
  .container {
    padding: 8.75rem 12.6%;
    font-size: 18px;
  }
}
