form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $dm-clr-White;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
}
.search-bar.dark {
  background-color: $dm-clr-dark-Blue;
  input::placeholder {
    color: $dm-clr-White;
  }
}
.search-bar__icon {
  margin-right: 0.55rem;
  width: 1.25rem;
  height: auto;
}
.search-bar__input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
  padding: 1rem 0;
  color: $lm-clr-Gray-Blue;
}
.search-bar__input.dark {
  background-color: $dm-clr-dark-Blue;
}
input::placeholder {
  color: $lm-clr-Gray-Blue;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.search-bar__btn {
  /* Just a little styling to make it pretty */
  padding: 0.78125rem;
  font-size: 0.875rem;
  border: none;
  background: $clr-Blue;
  color: #ffffff;
  border-radius: 1rem;
}
