.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.25rem;
}
.logo {
  font-size: 1.625rem;
}
.logo.dark {
  color: $dm-clr-White;
}
.theme-selector {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  color: #4b6a9b;
  letter-spacing: 2.5px;
  border: none;
  cursor: pointer;
}
.theme-selector__icon {
  margin-left: 1rem;
}
.theme-selector__text.dark {
  color: $dm-clr-White;
}

.theme-selector.dark {
  background-color: $dm-clr-Black;
}
