.result {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
}
.result__header {
  display: flex;
  align-items: center;
  margin-bottom: 2.0625rem;
}
.result-wrapper {
  margin-left: 1.1875rem;
}
.result__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.result__user-name {
  color: $lm-clr-Black;
}
.result__user-username {
  color: $clr-Blue;
}
.result__user-join-date {
  color: $lm-clr-Gray;
}
.bio {
  margin-bottom: 1.4375rem;
  line-height: 25px;
  color: $lm-clr-Gray-Blue;
}
.user-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 1rem;
  background-color: $lm-clr-very-light-Blue;
  padding: 1.125rem 2.125rem;
  margin-bottom: 1.5rem;
}
.stats__title {
  font-size: 11px;
  font-weight: normal;
  color: $lm-clr-Gray-Blue;
  margin-bottom: 0.5rem;
}
.number {
  font-size: 1rem;
  font-weight: bold;
}
.details__box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  span {
    margin-left: 0.8125rem;
    color: $lm-clr-Gray-Blue;
  }
}
