$color: #000;

body {
  font-family: "Space Mono", monospace;
}
.container {
  padding: 1.9375rem 1.5rem;
}
.logo {
  font-size: 1.625rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-selector {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  color: #4b6a9b;
}
.theme-selector__icon {
  margin-left: 1rem;
}
