// Colors
$clr-Blue: #0079ff;
// Light Mode Colors 'lm'
$lm-clr-Gray: #697c9a;
$lm-clr-Gray-Blue: #4b6a9b;
$lm-clr-Black: #2b3442;
$lm-clr-very-light-Blue: #f6f8ff;
$lm-clr-White: #fefefe;
// Dark Mode Colors 'dm'
$dm-clr-White: #ffffff;
$dm-clr-Black: #141d2f;
$dm-clr-dark-Blue: #1e2a47;
// Fonts
$main-font: "Space Mono", monospace;
