* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.25rem;
}

.logo {
  font-size: 1.625rem;
}

.theme-selector {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4b6a9b;
  letter-spacing: 2.5px;
}

.theme-selector__icon {
  margin-left: 1rem;
}

form {
  /* This bit sets up the horizontal layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
          box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
}

.search-bar__icon {
  margin-right: 0.55rem;
  width: 1.25rem;
  height: auto;
}

input {
  /* Tell the input to use all the available space */
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
  padding: 1rem 0;
  color: #4b6a9b;
}

input::-webkit-input-placeholder {
  color: #4b6a9b;
}

input:-ms-input-placeholder {
  color: #4b6a9b;
}

input::-ms-input-placeholder {
  color: #4b6a9b;
}

input::placeholder {
  color: #4b6a9b;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
  background-color: #ffffff;
}

.search-bar__btn {
  /* Just a little styling to make it pretty */
  padding: 0.78125rem;
  font-size: 0.875rem;
  border: none;
  background: #0079ff;
  color: #ffffff;
  border-radius: 1rem;
}

.container {
  font-size: 13px;
  padding: 1.9375rem 1.5rem;
  background-color: #f2f2f2;
  height: 100vh;
}

.result {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  -webkit-box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
          box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
}

.result__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.0625rem;
}

.result-wrapper {
  margin-left: 1.1875rem;
}

.result__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.result__user-name {
  color: #2b3442;
}

.result__user-username {
  color: #0079ff;
}

.result__user-join-date {
  color: #697c9a;
}

.bio {
  margin-bottom: 1.4375rem;
  line-height: 25px;
  color: #4b6a9b;
}

.user-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-radius: 1rem;
  background-color: #f6f8ff;
  padding: 1.125rem 2.125rem;
  margin-bottom: 1.5rem;
}

.stats__title {
  font-size: 11px;
  font-weight: normal;
  color: #4b6a9b;
  margin-bottom: 0.5rem;
}

.number {
  font-size: 1rem;
  font-weight: bold;
}

.details__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.details__box span {
  margin-left: 0.8125rem;
  color: #4b6a9b;
}
/*# sourceMappingURL=style.css.map */