* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.body {
  font-size: 0.8125rem;
  padding: 1.9375rem 6.4%;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.body.dark {
  background-color: #141d2f;
}

@media (min-width: 768px) {
  .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.25rem;
}

.logo {
  font-size: 1.625rem;
}

.logo.dark {
  color: #ffffff;
}

.theme-selector {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4b6a9b;
  letter-spacing: 2.5px;
  border: none;
  cursor: pointer;
}

.theme-selector__icon {
  margin-left: 1rem;
}

.theme-selector__text.dark {
  color: #ffffff;
}

.theme-selector.dark {
  background-color: #141d2f;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
          box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
}

.search-bar.dark {
  background-color: #1e2a47;
}

.search-bar.dark input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-bar.dark input:-ms-input-placeholder {
  color: #ffffff;
}

.search-bar.dark input::-ms-input-placeholder {
  color: #ffffff;
}

.search-bar.dark input::placeholder {
  color: #ffffff;
}

.search-bar.dark .search-bar__input.dark {
  background-color: #1e2a47;
}

.search-bar__icon {
  margin-right: 0.55rem;
  width: 1.25rem;
  height: auto;
}

.search-bar__input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
  padding: 1rem 0;
  color: #4b6a9b;
}

input::-webkit-input-placeholder {
  color: #4b6a9b;
}

input:-ms-input-placeholder {
  color: #4b6a9b;
}

input::-ms-input-placeholder {
  color: #4b6a9b;
}

input::placeholder {
  color: #4b6a9b;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
  background-color: #ffffff;
}

input:active {
  background-color: #ffffff;
}

.error {
  color: #f74646;
  margin-right: 1rem;
  display: none;
}

.error.active {
  display: block;
}

.search-bar__btn {
  /* Just a little styling to make it pretty */
  padding: 0.78125rem;
  font-size: 0.875rem;
  border: none;
  background: #0079ff;
  color: #ffffff;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .search-bar__input,
  input::-webkit-input-placeholder {
    font-size: 1.125rem;
  }
  .search-bar__input,
  input:-ms-input-placeholder {
    font-size: 1.125rem;
  }
  .search-bar__input,
  input::-ms-input-placeholder {
    font-size: 1.125rem;
  }
  .search-bar__input,
  input::placeholder {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
    margin: 0 auto;
    font-size: 1.125rem;
  }
}

.result {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  -webkit-box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
          box-shadow: -6px 21px 20px -20px rgba(43, 52, 66, 0.35);
}

.result.dark {
  background-color: #1e2a47;
}

.result.dark .result__user-name,
.result.dark .result__user-join-date,
.result.dark .user-stats,
.result.dark .stats__title,
.result.dark .bio,
.result.dark .details__box span {
  color: #ffffff;
}

.result__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.0625rem;
}

.result-wrapper {
  margin-left: 1.1875rem;
}

.result__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.result__user-name {
  color: #2b3442;
}

.result__user-username {
  color: #0079ff;
}

.result__user-join-date {
  color: #697c9a;
}

.bio {
  margin-bottom: 1.4375rem;
  line-height: 25px;
  color: #4b6a9b;
}

.user-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-radius: 1rem;
  background-color: #f6f8ff;
  padding: 1.125rem 10%;
  margin-bottom: 1.5rem;
}

.user-stats.dark {
  background-color: #141d2f;
}

.stats__title {
  font-size: 0.6875rem;
  font-weight: normal;
  color: #4b6a9b;
  margin-bottom: 0.5rem;
}

.number {
  font-size: 1rem;
  font-weight: bold;
}

.details__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.details__box span {
  margin-left: 0.8125rem;
  color: #4b6a9b;
}

.detail__icon.dark {
  -webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(80deg) brightness(103%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(80deg) brightness(103%) contrast(101%);
}

@media (min-width: 480px) {
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .details__box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  .result {
    padding: 3rem;
  }
  .result__avatar {
    width: 117px;
    height: auto;
  }
  .bio {
    font-size: 0.9375rem;
  }
  .user-stats {
    text-align: left;
  }
  .stats__title {
    font-size: 0.8125rem;
  }
  .number {
    font-size: 1.375rem;
  }
}

@media (min-width: 1024px) {
  .result-wrapper {
    margin-left: 2.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 117px;
  }
  .result__user-join-date {
    font-size: 0.9375rem;
  }
  .result__user-name {
    font-size: 1.625rem;
    font-weight: bold;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .result__user-username {
    font-size: 1rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .bio {
    width: 76%;
    margin-left: auto;
    margin-right: 0;
  }
  .user-stats {
    width: 76%;
    margin-left: auto;
    margin-right: 0;
  }
  .details {
    width: 76%;
    margin-left: auto;
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */